<div class="page-container">
    <h2 class="page-title">Examples</h2>
    <section class="example-container">
        <h3>Only text color</h3>
        <ng-chalk color="orangered" >Hai there</ng-chalk>
    </section>
    <section class="example-container">
        <h3>Text color and background</h3>
        <ng-chalk color="Crimson "  bg="Cornsilk ">Hai there</ng-chalk>
    </section>
    <section class="example-container">
        <h3>Text color, background and border</h3>
        <ng-chalk color="white"  borderVal="2px solid DarkBlue " bg="CornflowerBlue">Hai there</ng-chalk>
    </section>
    <h2>Examples with template</h2>
    <section class="example-container">
        <h3>Danger template</h3>
        <ng-chalk template="danger" >Hai there</ng-chalk>
    </section>
    <section class="example-container">
        <h3>Info template</h3>
        <ng-chalk template="info" >Hai there</ng-chalk>
    </section>
    <section class="example-container">
        <h3>Warning template</h3>
        <ng-chalk template="warning" >Hai there</ng-chalk>
    </section>
    <section class="example-container">
        <h3>Success template</h3>
        <ng-chalk template="success" >Hai there</ng-chalk>
    </section>
    <h2>Custom Template with name foo</h2>
    <section class="example-container">
        <h3>Foo template</h3>
        <ng-chalk template="foo" >Hai there</ng-chalk>
    </section>
</div>