.page-title {
    text-align: center;
}

.page-container {
    max-width: 850px;
    margin: 20px auto;
}
.example-container {
    padding: 20px;
    border: 1px solid #ddd;
    margin-bottom: 20px;
}